.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-wrap main {
  flex: 1 0 auto;
}

.box_w_ro {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #fff;
  text-shadow: 2px 0 rgb(78, 150, 131), -2px 0 rgb(78, 150, 131), 0 2px rgb(78, 150, 131), 0 -2px rgb(78, 150, 131), 1px 1px rgb(78, 150, 131), -1px -1px rgb(78, 150, 131), 1px -1px rgb(78, 150, 131), -1px 1px rgb(78, 150, 131);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(78, 150, 131);
}
.box_w_ro .bi {
  font-size: 65%;
}

.box_w_fi {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #fff;
  text-shadow: 2px 0 rgb(161, 156, 110), -2px 0 rgb(161, 156, 110), 0 2px rgb(161, 156, 110), 0 -2px rgb(161, 156, 110), 1px 1px rgb(161, 156, 110), -1px -1px rgb(161, 156, 110), 1px -1px rgb(161, 156, 110), -1px 1px rgb(161, 156, 110);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(161, 156, 110);
}
.box_w_fi .bi {
  font-size: 65%;
}

.box_w_ve {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #fff;
  text-shadow: 2px 0 rgb(201, 149, 65), -2px 0 rgb(201, 149, 65), 0 2px rgb(201, 149, 65), 0 -2px rgb(201, 149, 65), 1px 1px rgb(201, 149, 65), -1px -1px rgb(201, 149, 65), 1px -1px rgb(201, 149, 65), -1px 1px rgb(201, 149, 65);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(201, 149, 65);
}
.box_w_ve .bi {
  font-size: 65%;
}

.box_w_ch {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #fff;
  text-shadow: 2px 0 rgb(160, 58, 54), -2px 0 rgb(160, 58, 54), 0 2px rgb(160, 58, 54), 0 -2px rgb(160, 58, 54), 1px 1px rgb(160, 58, 54), -1px -1px rgb(160, 58, 54), 1px -1px rgb(160, 58, 54), -1px 1px rgb(160, 58, 54);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(160, 58, 54);
}
.box_w_ch .bi {
  font-size: 65%;
}

.box_g_ro {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #969696;
  text-shadow: 2px 0 rgb(78, 150, 131), -2px 0 rgb(78, 150, 131), 0 2px rgb(78, 150, 131), 0 -2px rgb(78, 150, 131), 1px 1px rgb(78, 150, 131), -1px -1px rgb(78, 150, 131), 1px -1px rgb(78, 150, 131), -1px 1px rgb(78, 150, 131);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(78, 150, 131);
}
.box_g_ro .bi {
  font-size: 65%;
}

.box_g_fi {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #969696;
  text-shadow: 2px 0 rgb(161, 156, 110), -2px 0 rgb(161, 156, 110), 0 2px rgb(161, 156, 110), 0 -2px rgb(161, 156, 110), 1px 1px rgb(161, 156, 110), -1px -1px rgb(161, 156, 110), 1px -1px rgb(161, 156, 110), -1px 1px rgb(161, 156, 110);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(161, 156, 110);
}
.box_g_fi .bi {
  font-size: 65%;
}

.box_g_ve {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #969696;
  text-shadow: 2px 0 rgb(201, 149, 65), -2px 0 rgb(201, 149, 65), 0 2px rgb(201, 149, 65), 0 -2px rgb(201, 149, 65), 1px 1px rgb(201, 149, 65), -1px -1px rgb(201, 149, 65), 1px -1px rgb(201, 149, 65), -1px 1px rgb(201, 149, 65);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(201, 149, 65);
}
.box_g_ve .bi {
  font-size: 65%;
}

.box_g_ch {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #969696;
  text-shadow: 2px 0 rgb(160, 58, 54), -2px 0 rgb(160, 58, 54), 0 2px rgb(160, 58, 54), 0 -2px rgb(160, 58, 54), 1px 1px rgb(160, 58, 54), -1px -1px rgb(160, 58, 54), 1px -1px rgb(160, 58, 54), -1px 1px rgb(160, 58, 54);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(160, 58, 54);
}
.box_g_ch .bi {
  font-size: 65%;
}

.box_b_ro {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #000;
  text-shadow: 2px 0 rgb(78, 150, 131), -2px 0 rgb(78, 150, 131), 0 2px rgb(78, 150, 131), 0 -2px rgb(78, 150, 131), 1px 1px rgb(78, 150, 131), -1px -1px rgb(78, 150, 131), 1px -1px rgb(78, 150, 131), -1px 1px rgb(78, 150, 131);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(78, 150, 131);
}
.box_b_ro .bi {
  font-size: 65%;
}

.box_b_fi {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #000;
  text-shadow: 2px 0 rgb(161, 156, 110), -2px 0 rgb(161, 156, 110), 0 2px rgb(161, 156, 110), 0 -2px rgb(161, 156, 110), 1px 1px rgb(161, 156, 110), -1px -1px rgb(161, 156, 110), 1px -1px rgb(161, 156, 110), -1px 1px rgb(161, 156, 110);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(161, 156, 110);
}
.box_b_fi .bi {
  font-size: 65%;
}

.box_b_ve {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #000;
  text-shadow: 2px 0 rgb(201, 149, 65), -2px 0 rgb(201, 149, 65), 0 2px rgb(201, 149, 65), 0 -2px rgb(201, 149, 65), 1px 1px rgb(201, 149, 65), -1px -1px rgb(201, 149, 65), 1px -1px rgb(201, 149, 65), -1px 1px rgb(201, 149, 65);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(201, 149, 65);
}
.box_b_ve .bi {
  font-size: 65%;
}

.box_b_ch {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #000;
  text-shadow: 2px 0 rgb(160, 58, 54), -2px 0 rgb(160, 58, 54), 0 2px rgb(160, 58, 54), 0 -2px rgb(160, 58, 54), 1px 1px rgb(160, 58, 54), -1px -1px rgb(160, 58, 54), 1px -1px rgb(160, 58, 54), -1px 1px rgb(160, 58, 54);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid rgb(160, 58, 54);
}
.box_b_ch .bi {
  font-size: 65%;
}

.box_c_sp {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: #C09E75;
  text-shadow: 2px 0 #876F3F, -2px 0 #876F3F, 0 2px #876F3F, 0 -2px #876F3F, 1px 1px #876F3F, -1px -1px #876F3F, 1px -1px #876F3F, -1px 1px #876F3F;
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid #876F3F;
}
.box_c_sp .bi {
  font-size: 65%;
}

.box_ro {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 0 rgb(78, 150, 131), -2px 0 rgb(78, 150, 131), 0 2px rgb(78, 150, 131), 0 -2px rgb(78, 150, 131), 1px 1px rgb(78, 150, 131), -1px -1px rgb(78, 150, 131), 1px -1px rgb(78, 150, 131), -1px 1px rgb(78, 150, 131);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid rgb(78, 150, 131);
}
.box_ro .bi {
  font-size: 65%;
}

.box_fi {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 0 rgb(161, 156, 110), -2px 0 rgb(161, 156, 110), 0 2px rgb(161, 156, 110), 0 -2px rgb(161, 156, 110), 1px 1px rgb(161, 156, 110), -1px -1px rgb(161, 156, 110), 1px -1px rgb(161, 156, 110), -1px 1px rgb(161, 156, 110);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid rgb(161, 156, 110);
}
.box_fi .bi {
  font-size: 65%;
}

.box_ve {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 0 rgb(201, 149, 65), -2px 0 rgb(201, 149, 65), 0 2px rgb(201, 149, 65), 0 -2px rgb(201, 149, 65), 1px 1px rgb(201, 149, 65), -1px -1px rgb(201, 149, 65), 1px -1px rgb(201, 149, 65), -1px 1px rgb(201, 149, 65);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid rgb(201, 149, 65);
}
.box_ve .bi {
  font-size: 65%;
}

.box_ch {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 0 rgb(160, 58, 54), -2px 0 rgb(160, 58, 54), 0 2px rgb(160, 58, 54), 0 -2px rgb(160, 58, 54), 1px 1px rgb(160, 58, 54), -1px -1px rgb(160, 58, 54), 1px -1px rgb(160, 58, 54), -1px 1px rgb(160, 58, 54);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid rgb(160, 58, 54);
}
.box_ch .bi {
  font-size: 65%;
}

.box_sp {
  font-family: sans-serif;
  font-size: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  text-shadow: 2px 0 rgb(103, 63, 122), -2px 0 rgb(103, 63, 122), 0 2px rgb(103, 63, 122), 0 -2px rgb(103, 63, 122), 1px 1px rgb(103, 63, 122), -1px -1px rgb(103, 63, 122), 1px -1px rgb(103, 63, 122), -1px 1px rgb(103, 63, 122);
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 3px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid rgb(103, 63, 122);
}
.box_sp .bi {
  font-size: 65%;
}
